RewriteEngine On
AddDefaultCharset UTF-8

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^/?$ pages/index.php [L,NC]
RewriteRule ^(contact|about|sample)/?$ pages/$1.php [L,NC]